@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,900&family=Clicker+Script&family=Merriweather:wght@400;700;900&family=Poppins:ital,wght@0,200;0,400;0,500;0,900;1,600;1,700&family=Potta+One&family=Roboto+Mono:ital,wght@1,600&family=Roboto:wght@400;900&family=Rubik+Bubbles&family=Ubuntu+Condensed&display=swap');

*{
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
}

body{
    height: 100%;
    width: 100%;
}

.home-section{
    background-image: url('Images/Home.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

nav{
    display: flex;
    width: 80%;
    height: 80px;
    padding-block: 30px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.brand{
    color: white;
    font-size: 30px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}

.brand span{
    color:yellow;
    font-size: 40px;
    font-family: 'Merriweather', serif;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

li{
 list-style-type: none;

}

.nav-link{
    text-decoration: none;
      color:white;
      font-size: 18px;
      font-family: "Poppins",sans-serif;
      padding: 5px 20px;
      border-radius: 10px;
      transition: 0.3s ease;
}

.nav-link:hover{
    background-color: yellow;
    color: black;
}

.home-section-text{
    width: 60%;
    height: 40%;
    margin: auto;
    display: grid;
    place-items: center;
    margin-top: 10%;
}

.home-heading{
    font-size: 90px;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}
.home-heading span{
    color: yellow;
}

.home-btn{
    padding: 15px 30px;
    background-color: yellow;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

.home-btn:hover{
    background-color: rgb(255, 255, 24);
    scale: 1.03;
}


/* About section */
.about-section{
    height: 120vh;
    width: 100%;
    background-color: black;
}

.about-container{
    display: flex;
    gap: 20px;
    position: relative;
    width: 80%;
    margin: auto;
    padding-block: 150px;
}

.about-text{
    width: 40%;
    color: white;
}

.about-text h2{
    font-size: 55px;
    color: yellow;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    width: 80%;
    line-height: 1.1;
    margin-bottom: 30px;
    font-weight: 800;
}

.about-text p{
    font-size: 18px;
    font-family: "Poppins",sans-serif;
    line-height: 1.5;
    margin-bottom: 30px;

}

.about-text .btn{
 color: white;
 font-size: 18px;
 font-family: "Roboto",sans-serif;
 transition: 0.2s ease-in-out;
}

.about-text .btn:hover{
    color: yellow;
}

.about-img1,
.about-img2{
width: 22%;
height: 400px;
}

.about-img1{
 background-image: url('Images/About.png');
 background-size: cover;
 background-position: center;
 position: absolute;
 right: 300px;
 bottom: 150px;
}

.about-img2{
 background-image: url('Images/About\ \(2\).png');
 background-size: cover;
 background-position: center;
 position: absolute;
 right: 0;
 bottom: 0;

}

.about-img1 img,
.about-img2 img{
 width: 100%;
 height: 100%;
}


/* services section */

.services-section{
    height: 100vh;
    width: 100%;
    padding-block: 80px;
    background-color: rgb(26, 25, 25);
}

.services-heading{
    text-align: center;
}

.services-heading h2{
    font-size: 50px;
    color: yellow;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.services-heading p{
    font-size: 16px;
    color: white;
    font-family: 'Poppins',sans-serif;
    line-height: 1.5;
}

.service-container{
    width: 80%;
    margin: auto;
    display: flex;
    padding-block: 40px;
    justify-content: space-between;
    gap: 10px;
}

.item1,
.item2,
.item3{
    height: 400px;
    width: 350px;
}

.item1 h3,
.item2 h3,
.item3 h3{
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    width: 70%;
    text-align: center;
}

.item3 h3{
    width: 90%;
    color: yellow;
}

.item1{
    background-image: url('Images/Services.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.item2{
    background-image: url('Images/Services\ \(2\).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}


.item3{
    background-image: url('Images/Services\ \(3\).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

/* Contact section */

.contact-section{
    height: 80vh;
    width: 100%;
    background-image: url('Images/Contact.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contact-section h2{
    font-size: 60px;
    color: yellow;
    font-family: "Poppins",sans-serif;
    font-weight: 900;
    width: 40%;
    line-height: 1.2;
    position: absolute;
    bottom: 30%;
    left: 100px;

}

/* footer section */

footer{
    background-color: yellow;
    height: 170px;
    width: 100%;
    /* position: fixed; */
    bottom: 0;
}

.footer-container{
    width: 80%;
    margin: auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    font-family: "Poppins",sans-serif;
}

.footer-container h3{
    font-size: 23px;
    font-family: "Poppins",sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.email-address{
    text-decoration: none;
    color: black;
    font-size: 16px;
    
}