@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,900&family=Clicker+Script&family=Merriweather:wght@400;700;900&family=Poppins:ital,wght@0,200;0,400;0,500;0,900;1,600;1,700&family=Potta+One&family=Roboto+Mono:ital,wght@1,600&family=Roboto:wght@400;900&family=Rubik+Bubbles&family=Ubuntu+Condensed&display=swap');

*{
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
}

body{
    height: 100%;
    width: 100%;
}

.home-section{
    background-image: url('Images/Home.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

nav{
    display: flex;
    width: 80%;
    height: 80px;
    padding-block: 30px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.brand{
    color: white;
    font-size: 30px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}

.brand span{
    color:yellow;
    font-size: 40px;
    font-family: 'Merriweather', serif;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

li{
 list-style-type: none;

}

.nav-link{
    text-decoration: none;
      color:white;
      font-size: 18px;
      font-family: "Poppins",sans-serif;
      padding: 5px 20px;
      border-radius: 10px;
      transition: 0.3s ease;
}

.nav-link:hover{
    background-color: yellow;
    color: black;
}

.home-section-text{
    width: 60%;
    height: 40%;
    margin: auto;
    display: grid;
    place-items: center;
    margin-top: 10%;
}

.home-heading{
    font-size: 90px;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}
.home-heading span{
    color: yellow;
}

.home-btn{
    padding: 15px 30px;
    background-color: yellow;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

.home-btn:hover{
    background-color: rgb(255, 255, 24);
    scale: 1.03;
}
